torch==2.0.1
numpy==1.24.3
transformers==4.29.2  # to load GPT-2 checkpoints
datasets==2.12.0  # to download + preprocess OpenWebText
tiktoken==0.4.0  # for OpenAI's fast BPE code
wandb==0.15.3  # for optional logging (weights & biases?)
tqdm==4.65.0  # for progress bars